<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=M+PLUS+Code+Latin:wght@300&family=Montserrat:wght@100;300;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles/style.css">
    <title>Soporte Tecnico</title>
</head>
    <body>
        <nav>
            <div class="Logo">
                <img src="./static/images/MTI_Logo.png" alt="Logo">
                <p>MIL Tech</p>
            </div>
            <div class="Links">
                <a href="/">Reparaciones</a>
                <a href="/2">Consultar estados</a>
                <a><span class="Activo">Clientes</span></a>
            </div>
        </nav>

        <div class="encabezado">
            <h1> Lista de Clientes </h1>
        </div>
        
       
        
        <div class="AccionesClientes">
            <button class="BotonAbrirModal">
                <img class="agregar" src="./static/images/agregar2.png"/>
                
                <p class="nuevoCliente"> Nuevo cliente</p>     
            </button>    
        </div>

        <div class="CajaColor" >
            <ul id="ListaClientes"></ul>
            
        </div>
        
        <section class="Modal">
            <div class="Der"><button class="CerrarModal">X</button></div>
            <div class="ContenedorModal">

                <form id="EFormClientes">
                    <div class="Formulario">
                        <div class="DatosCliente">    
                            <h2> Datos Cliente</h2>

                            <div class="CampoInput">
                                <label for="nombre_apellido">Nombre y Apellido</label>
                                <input name="nombre_apellido" type="text" placeholder="Ingresar Nombre y Apellido" required>
                            </div>

                            <div class="CampoInput">
                                <label for="telefono">Telefono</label>
                                <input name="telefono" type="number" placeholder="11-12341234" required>
                            </div>

                            <div class="CampoInput">
                                <label for="email">Email</label>
                                <input name="email" type="email" placeholder="example@gmail.com" >
                            </div>

                            <div class="CampoInput">
                                <label for="domicilio">Domicilio</label>
                                <input name="domicilio" type="text" placeholder="Ingresar Domicilio" >
                            </div>

                            <div class="CampoInput">
                                <label for="localidad">Localidad</label>
                                <input name="localidad" type="text" placeholder="Ingresar Localidad" >
                            </div>

                            <div class="CampoInput">
                                <label for="provincia">Provincia</label>
                                <input name="provincia" type="text" placeholder="Ingresar Provincia" >
                            </div>
                            
                            <button type="submit" class="CerrarModal" id="botonAlta" >Dar de alta</button>
                        </div>
                    
                </form>

            </div>
        </section>

        <footer id="footer">
            <div class="Copyright">
                <img src="./static/images/MTI_Logo.png" alt="Logo">
                <p>Copyright ©2023 | Designed by MIL Tech</p>
                </div>
            
            <div class="Services">
                <h2>About</h2>
                <p>Company</p>
                <p>Team</p>
            </div>
            <div class="Services">
                <h2>Services</h2>
                <p>Web design</p>
                <p>Development</p>
            </div>
            
</footer>
        

        <script src="./static/scripts/clientes.js"></script>
    </body>
</html>