<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/style.css">
    <title>Soporte Tecnico</title>
</head>
    <body>
        <nav>
            <div class="Logo">
                <img src="./static/images/MTI_Logo.png" alt="Logo">
            </div>
            <div class="Links">
                <a href="/1">CLIENTES</a>
                <a href="http://localhost:5000/">REPARACIONES</a>
                <a><span class="Activo">ESTADOS</span></a>
            </div>
        </nav>
        
        <h1> Buscador de estados </h1>

        <form action="" method="GET"   id="EForm" >
            <div class="CajaBuscador">
                <label><h2>Ingrese el numero de reparacion</h2></label>
                <input class="CajaEstados" name="nro_reparacion" required>
            </div>
            
            <div class="Acciones">
                <button type="submit"> Buscar </button>    
            </div>
        </form>
        <div id="Info">
            
        </div>

        <script src="./static/scripts/estados.js"></script>
    </body>
</html>