<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/style.css">
    <title>Soporte Tecnico</title>
</head>
    <body>
        <nav>
            <div class="Logo">
                <img src="./static/images/MTI_Logo.png" alt="Logo">
                <p>MIL Tech</p>
            </div>
            <div class="Links">
                <a href="/1">CLIENTES</a>
                <a href="/">REPARACIONES</a>
                <a><span class="Activo">ESTADOS</span></a>
            </div>
        </nav>
        
        <h1> Buscador de estados </h1>

        <form action="" method="GET"   id="EForm" >
            <div class="CajaBuscador">
                <label><h2>Ingrese N° de Reparación o Cliente :</h2></label>
                <input class="CajaEstados" name="nro_reparacion" required>
                <button type="submit"> Buscar </button>    
            </div>
            
            <!-- <div class="Acciones">
                <button type="submit"> Buscar </button>    
            </div> -->
        </form>
        <div id="Info">
            
        </div>

        <footer id="footer">
            <div class="Services">
                <h2>Services</h2>
                <p>Web design</p>
                <p>Development</p>
            </div>
            <div class="Services">
                <h2>About</h2>
                <p>Company</p>
                <p>Team</p>
            </div>
            <div class="Copyright">
            <img src="./static/images/MTI_Logo.png" alt="Logo">
            <p>Copyright ©2023 | Designed by MIL Tech</p>
            </div>
        </footer>
        <script src="./static/scripts/estados.js"></script>
    </body>
</html>