<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    
    <title>Home</title>
</head>
<body>
    <h1 class="titleHome">Portal de Servicio Técnico</h1>
    
   
    
<div class="contenedor-grid">
    <button class="hButton"><a href="/3">Reparaciones</a></button>
    <button class="hButton"><a href="/2">Consultar estados</a></button>
    <button class="hButton"><a href="/1">Clientes</a></button>
    <button class="hButton"><a href="#">Informes</a></button>
</div>

<footer id="footer">
    <div class="Copyright">
        <img src="/static/images/Logo-bn-sintexto.png" alt="Logo">
        <p>Copyright ©2023 | Designed by ContraCoders</p>
        </div>
    <div class="Services">
        <h2>Services</h2>
        <p>Web design</p>
        <p>Development</p>
    </div>
    <div class="Services">
        <h2>About</h2>
        <p>Company</p>
        <p>Team</p>
    </div>
    
</footer>
</body>
</html>