<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles/style.css">

    <title>Soporte Tecnico</title>
</head>
    <body>
        
        <nav>
            <div class="Logo">
                <!-- <img src="./static/images/MTI_Logo.png" alt="Logo"> -->
            </div>
            <div class="Links">
                <a href="/1">CLIENTES</a>
                <a><span class="Activo">REPARACIONES</span></a>
                <a href="/2">ESTADOS</a>
            </div>
        </nav>

        <h1> REGISTRO DE REPARACIONES </h1>
        
        <div class="Acciones">
            <!-- <button class="BotonAbrirModal">
                <img class="agregar" src="./static/images/agregar2.png"/>   
            </button> -->
            <button class="BotonAbrirModal"><img class="agregar" src="./static/images/agregar2.png"/><p class="nuevaRepa">Agregar Reparacion</p></button>
        </div>
        
        <div class="CajaColor" id="ListaReparaciones">
            
            <ul id="ListaReparaciones"></ul>
            
            <!--<div class="Vacio">
                <h3>No hay reparaciones pendientes<span class="Animacion">...</span></h3>
            </div>

            <div class="ModuloRep">
                <img class="Usuario" src="./static/images/vista-de-calle.png" alt="Logo">

                <div class="ModuloRepUsuarios">
                    <p>Electroservice</p>
                    <p>N° 123456789</p>
                    <p>Camara no funciona</p>
                    <p>16/6/2022</p>
                </div>

                <div class="ModuloRepBotones">
                    <div class="Acciones">
                        <button>Modificar</button>
                        <button>Borrar</button>    
                    </div>
                </div>

                <div class="ModuloRepEstados">
                    <input type="radio" name="estados" class="Rojo">
                    <input type="radio" name="estados" class="Naranja">
                    <input type="radio" name="estados" class="Blanco">
                    <input type="radio" name="estados" class="Aqua">
                    <input type="radio" name="estados" class="Azul">
                    <input type="radio" name="estados" class="Verde">
                </div>
            </div>   -->

        </div>

        

        <section class="Modal">
            <div class="Der"><button class="CerrarModal">X</button></div>
            <div class="ContenedorModal">

                <form id="FormUsuarios">
                    <div class="Formulario">
                        <div class="DatosCliente">    
                            <h2> Datos Cliente</h2>

                            <div class="CampoInput">
                                
                                <select id="mostrar_clientes">
                                    <option disabled selected>Buscar Cliente</option>
                                </select> 
                                <label for="nombre_apellido">Nombre y Apellido</label>
                                <input name="nombre_apellido" id="nombre_cliente" type="text" placeholder="Ingresar Nombre y Apellido" autocomplete="off" required>
                                
                            </div>

                            <div class="CampoInput">
                                <label for="telefono">Telefono</label>
                                <input name="telefono" type="number" placeholder="11-12341234" required>
                            </div>

                            <div class="CampoInput">
                                <label for="email">Email</label>
                                <input name="email" type="email" placeholder="example@gmail.com" >
                            </div>

                            <div class="CampoInput">
                                <label for="domicilio">Domicilio</label>
                                <input name="domicilio" type="text" placeholder="Ingresar Domicilio" >
                            </div>

                            <div class="CampoInput">
                                <label for="localidad">Localidad</label>
                                <input name="localidad" type="text" placeholder="Ingresar Localidad" >
                            </div>

                            <div class="CampoInput">
                                <label for="provincia">Provincia</label>
                                <input name="provincia" type="text" placeholder="Ingresar Provincia" >
                            </div>

                        </div>

                        <div class="DatosPortero">
                            <h2>Datos Producto</h2>

                            <div class="CampoInput" id="nro_repa">
                                <label for="nro_reparacion">NRO Reparacion</label>
                                <input name="nro_reparacion" type="text" placeholder="nro reparacion" readonly>
                            </div>

                            <div class="CampoInput">
                                <label for="estado">Estado</label>
                                <select id="estadoRepa" name="estado"required>
                                    <option value="ingresada"selected >INGRESADA</option>
                                    <option value="revision presupuesto" >REVISION PARA PRESUPUESTO</option>
                                    <option value="espera confirmacion presupuesto">ESPERA CONFIRMACION PRESUPUESTO</option>
                                    <option value="en curso">EN CURSO</option>
                                    <option value="reparada/terminada">REPARADA/TERMINADA</option>
                                    <option value="retirada/enviada">RETIRADA/ENVIADA</option>
                                </select>
                            </div>
                            
                            
                            <div class="CampoInput">
                                <label for="producto">Producto</label>
                                <input name="producto" type="text" placeholder="Ingresar Producto" required>
                            </div>

                            <div class="CampoInput">
                                <label for="falla">Falla</label>
                                <input name="falla" type="text" placeholder="¿Cual es la Falla?" required>
                            </div>

                            <div class="CampoInput" id="defEncontrado">
                                <label for="defecto_encontrado">Defecto Encontrado</label>
                                <input name="defecto_encontrado" type="text" placeholder="Ingresar Defecto" >
                            </div>

                            
                            <div class="CampoInput" id="valRepa">
                                <label for="valor_reparacion">Valor de la reparacion</label>
                                <input name="valor_reparacion" type="text" placeholder="valor de reparacion" >
                            </div>

                            <div class="CampoInput" id="fact" >
                                <label for="factura">Factura</label>
                                <input name="factura" type="text" placeholder="¿LLeva Factura?">
                            </div>
                        </div>

                        <div class="DatosPortero">
                            <h2>Datos Fecha</h2>
                            <div class="CampoInput">
                                <label for="fecha_alta">Fecha de Alta</label>
                                <input name="fecha_alta" type="date" placeholder="Ingresar Fecha de Alta" >
                            </div>

                            <div class="CampoInput" id="fechaRepa">
                                <label for="fecha_reparacion">Fecha de Recparacion</label>
                                <input name="fecha_reparacion" type="date" placeholder="Ingresar Fecha de Reparacion">
                            </div>

                            <div class="CampoInput" id="fechaRet">
                                <label for="fecha_retiro">Fecha de Retiro</label>
                                <input name="fecha_retiro" type="date" placeholder="Ingresar Fecha de Retiro" >
                            </div>

                            
                        </div>
                    
                    </div>
                    <button type="submit" class="CerrarModal"id="botonAlta" >Dar de alta</button>
                </form>

            </div>
        </section>
        <footer id="footer">
            <div class="Services">
                <h2>Services</h2>
                <p>Web design</p>
                <p>Development</p>
            </div>
            <div class="Services">
                <h2>About</h2>
                <p>Company</p>
                <p>Team</p>
            </div>
            <div class="Copyright">
            <img src="./static/images/MTI_Logo.png" alt="Logo">
            <p>Copyright ©2022 | Designed by MTI Tech</p>
            </div>
        </footer>
        
        <script src="./static/scripts/main.js"></script>
    </body>
</html>