<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=M+PLUS+Code+Latin:wght@300&family=Montserrat:wght@100;300;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./static/styles/style.css">

<title>Soporte Tecnico</title>
</head>

<body>
    <header>
        <nav>
            <div class="Logo">
                <img src="./static/images/MTI_Logo.png" alt="Logo">
                <p>MIL Tech</p>
            </div>
            <div class="Links">
                <a><span class="Activo">Reparaciones</span></a>
                <a href="/2">Consultar estados</a>
                <a href="/1">Clientes</a>
            </div>
        </nav>
    
    </header>
        
    <main>
        <div class="encabezado" >          
            <h1> Registro de reparaciones </h1>          
        </div>

        <div class="Acciones">
            <!-- <button class="BotonAbrirModal">
                <img class="agregar" src="./static/images/agregar2.png"/>   
            </button> -->
            <div id="paginacion">
                
            </div>
            <div class="contenedor-buscador">
                <input type="text" name="buscar" id="iBuscador">
                <button id="bBuscador">
                    <img src="/static/images/lupa.png" class="lupa" alt="lupa">
                </button>
            </div>
            
            
            
            <div>
                <button class="BotonAbrirModal">
                    <img class="agregar" src="./static/images/agregar2.png"/>
                    <p class="nuevaRepa">Nueva reparación</p>
                </button>
            </div>
        </div>
        
        <div class="CajaColor" id="ListaReparaciones">
            <ul id="ListaReparaciones"></ul>
        </div>

        

        <section class="Modal">
            <div class="Der"><button class="CerrarModal">X</button></div>
            <div class="ContenedorModal">

                <form id="FormUsuarios">
                    <div class="Formulario">
                        <div class="DatosCliente">    
                            <h2> Datos Cliente</h2>

                            <div class="CampoInput">
                                
                                <select id="mostrar_clientes">
                                    <option selected>Buscar Cliente</option>
                                </select> 
                                <label for="nombre_apellido">Nombre y Apellido</label>
                                <input name="nombre_apellido" id="nombre_cliente" type="text" placeholder="Ingresar Nombre y Apellido" autocomplete="off" required>
                                
                            </div>

                            <div class="CampoInput">
                                <label for="telefono">Teléfono</label>
                                <input name="telefono" type="number" placeholder="11-12341234" required>
                            </div>

                            <div class="CampoInput">
                                <label for="email">Mail</label>
                                <input name="email" type="email" placeholder="example@gmail.com" >
                            </div>

                            <div class="CampoInput">
                                <label for="domicilio">Domicilio</label>
                                <input name="domicilio" type="text" placeholder="Ingresar Domicilio" >
                            </div>

                            <div class="CampoInput">
                                <label for="localidad">Localidad</label>
                                <input name="localidad" type="text" placeholder="Ingresar Localidad" >
                            </div>

                            <div class="CampoInput">
                                <label for="provincia">Provincia</label>
                                <input name="provincia" type="text" placeholder="Ingresar Provincia" >
                            </div>

                        </div>

                        <div class="DatosPortero">
                            <h2>Datos Producto</h2>

                            <div class="CampoInput" id="nro_repa">
                                <label for="nro_reparacion">N° de Reparación</label>
                                <input name="nro_reparacion" type="text" placeholder="nro reparacion" readonly>
                            </div>

                            <div class="CampoInput">
                                <label for="estado">Estado</label>
                                <select id="estadoRepa" name="estado"required>
                                    <option value="ingresada"selected >Ingresada</option>
                                    <option value="revision presupuesto" >Revisión para presupuesto</option>
                                    <option value="espera confirmacion presupuesto">Esperando confirmación de presupuesto</option>
                                    <option value="en curso">En curso</option>
                                    <option value="reparada/terminada">Reparada / Terminada</option>
                                    <option value="retirada/enviada">Retirada / Enviada </option>
                                </select>
                            </div>
                            
                            
                            <div class="CampoInput">
                                <label for="producto">Producto</label>
                                <input name="producto" type="text" placeholder="Ingresar Producto" required>
                            </div>

                            <div class="CampoInput">
                                <label for="falla">Falla</label>
                                <input name="falla" type="text" placeholder="¿Cual es la Falla?" required>
                            </div>

                            <div class="CampoInput" id="defEncontrado">
                                <label for="defecto_encontrado">Defecto Encontrado</label>
                                <input name="defecto_encontrado" type="text" placeholder="Ingresar Defecto" >
                            </div>

                            
                            <div class="CampoInput" id="valRepa">
                                <label for="valor_reparacion">Valor de la reparación</label>
                                <input name="valor_reparacion" type="text" placeholder="valor de reparacion">
                            </div>

                            <div class="CampoInput" id="fact" >
                                <label for="factura">Factura</label>
                                <input name="factura" type="text" placeholder="¿LLeva Factura?">
                            </div>
                        </div>

                        <div class="DatosPortero">
                            <h2>Datos Fecha</h2>
                            <div class="CampoInput">
                                <label for="fecha_alta">Fecha de Alta</label>
                                <input name="fecha_alta" type="date" placeholder="Ingresar Fecha de Alta" required>
                            </div>

                            <div class="CampoInput" id="fechaRepa">
                                <label for="fecha_reparacion">Fecha de Reparación</label>
                                <input name="fecha_reparacion" type="date" placeholder="Ingresar Fecha de Reparacion">
                            </div>

                            <div class="CampoInput" id="fechaRet">
                                <label for="fecha_retiro">Fecha de Retiro</label>
                                <input name="fecha_retiro" type="date" placeholder="Ingresar Fecha de Retiro" >
                            </div>
                        </div>
                    
                    </div>
                    <button type="submit" class="CerrarModal"id="botonAlta">Dar de alta</button>
                </form>

            </div>
        </section>

    </main>
        

        
<footer id="footer">
            <div class="Copyright">
                <img src="./static/images/MTI_Logo.png" alt="Logo">
                <p>Copyright ©2023 | Designed by MIL Tech</p>
                </div>
            
            <div class="Services">
                <h2>About</h2>
                <p>Company</p>
                <p>Team</p>
            </div>
            <div class="Services">
                <h2>Services</h2>
                <p>Web design</p>
                <p>Development</p>
            </div>
            
</footer>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="./static/scripts/main.js"></script>
</body>
</html>