*{
    margin: 0;
    padding: 0;
    font-family:"JetBrains Mono",monospace;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height:100vh;
    background: rgba(40,40,40,1);
}


/*------------- Barra de Navegacion ---------------*/
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5%;
    background: rgb(4,216,255);
    background: linear-gradient(173deg, rgba(4,216,255,1) 0%, rgba(0,34,77,1) 100%);
    border-radius: 0px 0px 40px 40px;
    border-bottom: 1px solid rgb(4,216,255);
}

.Logo img{
    width: 75px;
}

.Links{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
}

.Links a{
    text-decoration: none;
    color: aliceblue;
    margin: 0px 15px;
    font-size: large;
    padding: 5px 15px;
    border-bottom: rgba(4,216,255,0) solid 2px;
    border-radius:0px 0px 5px 5px;
    cursor: pointer;
}

.Links a:hover{
    border-bottom: rgba(4,216,255,1) solid 2px;
    text-shadow: 0px 1px 2px aliceblue;
}

a .Activo{
    color: rgba(4,216,255,1);
}

.Activo{
    text-shadow: 0px 1px 1px rgba(4,216,255,1);
}
/*---------------------------------------------*/


.ModuloRep{
    border: 2px black solid;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    margin: 10px;
    background: rgba(40,40,40,1);
    box-shadow: rgba(45, 35, 66, 0.986) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(2, 6, 30, 0.5) 0 -3px 0 inset;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Usuario{
    width: 40px;
}


/*------------- Colores Estados ---------------*/
.Rojo{
    appearance: none;
    background-color:crimson;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Rojo[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Naranja{
    appearance: none;
    background-color:coral;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Naranja[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Blanco{
    appearance: none;
    background-color:azure;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Blanco[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Aqua{
    appearance: none;
    background-color: aqua;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Aqua[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Azul{
    appearance: none;
    background-color:navy;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Azul[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Verde{
    appearance: none;
    background-color:green;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Verde[type="radio"]:checked {
    height: 20px;
    width: 20px;
}
/*---------------------------------------------*/


h1{
    color: aliceblue;
    text-align: center;
    margin: 20px;
    text-decoration: underline aqua;
}

.CajaColor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(53, 53, 53);
    margin: 50px 30px 20px 30px;
    min-height: 100px;
    max-height: 500px;
    height: auto;
    border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(60deg, rgba(0,34,77,1), rgba(4,216,255,1));
    overflow: auto;
}

.CajaColor p{
    color: aliceblue;
    font-size: medium;
}

.CajaColor::placeholder{ 
    font-size: medium;
}

.Vacio{
    color: aliceblue;
}

.Acciones{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 50px;
}

.Acciones button, .CerrarModal{
    align-items: center;
    appearance: none;
    border: 0;
    background-color: rgb(53, 53, 53);
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.986) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(2, 6, 30, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    padding:0px 16px;
    font-size: 18px;
    margin: 10px;
}

.Acciones button:hover, .CerrarModal:hover{
    border-bottom: rgba(4,216,255,1) solid 2px;
}

.Modal{
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(255, 255, 255);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(20px);
    min-height: 100vh;
}

.MostrarModal{
    opacity: 1;
    pointer-events: unset;
}

.Der{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ContenedorModal{
    border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(60deg, rgba(0,34,77,1), rgba(4,216,255,1));
    background: rgb(0,10,11);
    background: linear-gradient(344deg, rgba(0,10,11,1) 0%, rgba(64,64,64,1) 100%);
    /*background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);*/
    padding: 30px;
    max-height: 550px;
    overflow: auto;
    margin-bottom: 50px;
    height: 100vh;
}

form{
    text-align: center;
}

.Formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

form h2{
    color: aliceblue;
    text-align: center;
    margin: 20px 20px 10px 20px ;
    text-decoration: underline aqua;
}

.DatosCliente, .DatosPortero{
    width: 100%;
    max-width: 400px;
}

.CampoInput{
    margin: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: aliceblue;
}


input{
    height: 30px;
    background-color: gray;
    text-align: center;
    color: aliceblue;
}

input::placeholder { 
    color: rgb(192, 192, 192); 
}


/*----------------- Pantalla Estados -----------------*/
.CajaBuscador{
    margin: 30px auto 10px auto;
    background-color: rgb(53, 53, 53);
    width: 80%;
    height: auto;
    border-radius: 25px;
    border: solid 3px rgba(4,216,255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    padding: 15px 0px 50px 0px;
}

.CajaBuscador h2{
    margin-bottom: 15px;
}

.CajaBuscador input{
    width: 70%;
}

#Info{
    margin: 20px auto 20px auto;
    width: 80%;
    height: auto;
    padding: 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    border-radius: 25px;

}
/*---------------------------------------------*/


/*----------------- Pantalla Celular -----------------*/

@media (max-width:700px) {
    .Logo{
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .Links{
        flex-direction: column;
        justify-content: center;
    }

    .Links a {
        margin: 0px 10px;
    }    
}

@media (max-width:900px) {
    .ModuloRep{
        flex-direction: column;
    }
}

@media (max-height:600px) {
    .ContenedorModal{
        max-height: 350px;
    }
}
/*---------------------------------------------*/