*{
    margin: 0;
    padding: 0;
    /* font-family:"JetBrains Mono",monospace; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --colorPrincipal: #191A19;
    --colorPrincipal2: #00587A;
    --colorSecundario: #0F3057;
    --colorTextos: #D8E9A8;
    --colorResaltado: #008891;
    --colorBlanco: #f1f1f1;
}

body{
    width: 100%;
    position: relative;
    padding-bottom: 3em;
    min-height:100vh;
    background-color: #f1f1f1;
    background-image:  url("CircuitoNuevo.jpg") ;
    
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}




::-webkit-scrollbar {
    width: 5px;               
}
  
::-webkit-scrollbar-thumb {
    background-color: gray;   
    border-radius: 20px;      
    border: 0.5px solid rgb(0, 0, 0);  
}

/*------------- Barra de Navegacion ---------------*/
nav{
    /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5%;
    background: var(--colorPrincipal2);
    /* border-bottom: 1px solid var(--colorResaltado); */
    box-shadow: 0px 0px 1px white;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    background: var(--colorPrincipal2);
    /* border-bottom: 1px solid var(--colorResaltado); */
    /* box-shadow: 0px 0px 20px var(--colorResaltado); */
}
.Logo{
    margin: 0 20px;
}
.Logo img{
    width: 75px;
    margin: auto 20px;
}

.Logo p{
    color: var(--colorBlanco);
    font-family: 'Bodoni Moda', serif;;
    /* font-family: 'M PLUS Code Latin', monospace;     */
    font-size: 18px;
    text-align: center;
}


.Links{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
}

.Links a{
    text-decoration: none;
    color: var(--colorBlanco);
    margin: 0px 15px;
    font-size: 18px;
    font-weight: lighter;
    padding: 5px 15px;
    /* border-bottom: rgba(4,216,255,0) solid 2px; */
    border-radius:0px 0px 5px 5px;
    cursor: pointer;
}

.Links a:hover{
    font-weight:normal;
}

/* .Links a:hover{
    border:2px solid rgba(4,216,255,1);
    text-shadow: 0px 1px 2px aliceblue;
 }  */

.Links a .Activo{
    padding: 10px 15px;
    font-weight:bold;
    background-color: white;
    color: var(--colorPrincipal2);

    /* background-color: var(--colorSecundario); */
    /* border:1px solid var(--colorResaltado); */
    /* box-shadow: 0px 0px 20px var(--colorResaltado); */
    border-radius: 30px;
}

.Activo{
    
}
.agregar{
    height: 20px;
    width: 20px;
}

/*------------- Encabezado ---------------*/

.encabezado{
    height: 200px;
   
}

.encabezado h1{
    color: var(--colorBlanco);
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;


}

/*------------- Main ---------------*/
main{
    margin-bottom: 60px;
}


/*---------------------------------------------*/



.ModuloRep{
    border-radius: 10px;
    width: 95%;
    padding: 10px 20px;
    margin: 10px;
    background: #f1f1f1db;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
}


.info{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}



.numeroService{
    font-size:30px ;
    width: 100%;
    color: black;
    font-weight: bold;
    
}

.nombreCliente{
    margin: 10px 0;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    
}

.fechaService p{
    font-weight:bold !important;
}


.DatosModulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    
}

.DatosModulo h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.DatosModulo p{
    color: black;
    font-weight: normal;
    margin: 0 5px;


}

.DatosModulo .columnaIzq, .columnaCentro, .columnaDer{
    display: flex;
    flex-direction: column;
  
    align-items: flex-start;
}


.Usuario{
    width: 40px;
}

.infoOculta{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/*------------- Colores Estados ---------------*/
.Rojo{
    appearance: none;
    background-color:crimson;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Rojo[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Naranja{
    appearance: none;
    background-color:coral;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Naranja[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Blanco{
    appearance: none;
    background-color:rgb(88, 29, 84);
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Blanco[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Aqua{
    appearance: none;
    background-color: aqua;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Aqua[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Azul{
    appearance: none;
    background-color:navy;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Azul[type="radio"]:checked {
    height: 20px;
    width: 20px;
}

.Verde{
    appearance: none;
    background-color:green;
    border: 1px white solid;
    height: 25px;
    width: 25px;
}

.Verde[type="radio"]:checked {
    height: 20px;
    width: 20px;
}
/*---------------------------------------------*/




.CajaColor{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #00587acc;
    /* margin: 30px 30px 20px 30px; */
    margin: 0px 40px;
    padding: 10px 20px 60px 20px;
    min-height: 100px;
    max-height: 800px;
    height: auto;
    border-radius: 0 0 10px 10px;
    /* border: solid; */
    /* border-image-slice: 1; */
    /* border-width: 3px; */
    /* border-image-source: linear-gradient(60deg, rgba(0,34,77,1), rgba(4,216,255,1)); */
    overflow: auto;
    border: solid 1px white;
    border-top: 0
}

/* .CajaColor p{
    color: black;
    font-size: medium;
    text-transform: capitalize;
    font-weight: bold;
} */






.CajaColor::placeholder{ 
    font-size: medium;
}

.Vacio{
    color: rgb(0, 18, 33);
}

.Acciones{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0 40px;
    flex-direction: row;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    background-color: #00587acc;
    border: solid 1px white;
    border-bottom: 0;
}

#paginacion{
    color: var(--colorBlanco);
    opacity: .8;
    display: flex;
    align-items: center;
}

#paginacion button{
    background-color: #d8e9a800;
    box-shadow: none;
}

#paginacion img{
    width: 14px;
    height: 30px;
}

.Acciones #paginacion button:hover{
    border:1px solid --colorBlanco;
}

/* #anterior{
    background-color: #D8E9A8;
    width: 30px;
    border-radius: 10px;
}
#siguiente{
    background-color: #D8E9A8;
    width: 30px;
    border-radius: 10px;
} */


/* #anterior , #siguiente{
    background-color:var(--colorBlanco);
    color: black;
} */


.Acciones .BotonAbrirModal{
/* margin: auto; */
background: var(--colorBlanco);
text-align: center;
/* margin: 0 0 0 80%; */

/* background: rgb(50,97,7); */
/* background: linear-gradient(90deg, rgba(50,97,7,1) 0%, rgb(63, 110, 16) 37%, rgba(23,78,0,1) 100%); */
}

.nuevaRepa{
    color: black;
    padding: 5px 10px;
    font-size: 18px;
}

.Modal .Der .CerrarModal{
background:  rgba(220, 20, 60, 0.507);
border: solid 2px crimson;
}						   
.Acciones button, .CerrarModal{
    align-items: center;
    appearance: none;
    border: 0;
    background-color: rgb(53, 53, 53);
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.986) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(2, 6, 30, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    padding:0px 16px;
    font-size: 18px;
    margin: 10px;
}

.Modal .Der .CerrarModal:hover{
    background:  rgb(230, 31, 31);
}							   
.Acciones button:hover, .CerrarModal:hover{
    border-bottom: rgba(4,216,255,1) solid 2px;
}

.Modal{
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(255, 255, 255);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(20px);
    min-height: 100vh;
    padding-bottom: 3em;
}

.MostrarModal{
    opacity: 1;
    pointer-events: unset;
}

.Der{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ContenedorModal{
    border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(60deg, rgba(0,34,77,1), rgba(4,216,255,1));
    background: rgb(0,10,11);
    background: linear-gradient(344deg, rgba(0,10,11,1) 0%, rgba(64,64,64,1) 100%);
    /*background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);*/
    padding: 30px;
    max-height: 80%;
    overflow: auto;
    margin-bottom: 50px;
    height: 100vh;
}

form{
    text-align: center;
}

.Formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

form h2{
    color: aliceblue;
    text-align: center;
    margin: 20px 20px 10px 20px ;
   
}

.DatosCliente, .DatosPortero{
    width: 100%;
    max-width: 400px;
}

.CampoInput{
    margin: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

h2{
    margin-bottom: 10px;
}

input, select{
    height: 40px;
    background-color: rgba(2, 70, 92, 0.479);
    text-align: center;
    color: black;
    font-size: medium;
 
}
#mostrar_clientes{
    margin-bottom: 15px;
}

input::placeholder { 
    color: rgb(238, 231, 231); 
}


/*----------------- Pantalla Estados -----------------*/
h1{
    color: var(--colorBlanco);
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    /* color: var(--colorBlanco);
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px; */
}

.CajaBuscador{
    margin: 100px auto 10px auto;
    background-color: #00587acc;
    width: 90%;
    height: auto;
    border-radius: 25px;
    border: solid 1px white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    padding: 40px;

}

.CajaBuscador h2{
    margin: 0;
    font-size: 1.6em;
    font-weight: normal;
}

.CajaBuscador input{
    width: 30%;
    height: 44px;
    background: #ffffffeb;
    border-radius: 22px;
    box-shadow: rgba(45, 35, 66, 0.986) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(2, 6, 30, 0.5) 0 -3px 0 inset;
}


.CajaBuscador button{
    align-items: center;
    appearance: none;
    border: 0;
    background-color: rgb(204 175 128);
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, 0.986) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(2, 6, 30, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    padding: 0px 20px;
    font-size: 18px;
    margin: 10px;
}

#Info{
    margin: 20px auto 20px auto;
    width: 80%;
    height: auto;
    padding: 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    border-radius: 25px;
}

footer {
    height: auto;
    width: 100%;
    background-color: rgb(0 0 0 / 28%);
    color: rgb(208 208 208);
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

footer p{
    font-size: 14px;
}

.Services{
    display: flex;
    flex-direction: column; 
    cursor: pointer;
    margin: 0px 10px;
    align-items: center;
}

.Services p{
    color: rgb(193, 193, 193);
    font-size: 14px;
    margin: 5px;
}

.Services p:hover{
    color: rgb(213, 213, 213);
}
.Services h2{
    margin: 0;
}

.Copyright img{
    height: 30px;
    width: 30px;
}




/*----------------- Pantalla Clientes -----------------*/
#ListaClientes li, #ListaReparaciones li{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background: #00587acc; */
    /*
    min-height: 100px;
    max-height: 500px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background: rgba(3, 164, 192, 0.507);
    border-radius: 15px;
    */
}
#ListaClientes li h3, #ListaReparaciones li h3 {
    margin: 5px;
    color: var(--colorPrincipal2);
    font-size: 18px;
    
}
#ListaClientes li p{
    margin: 10px;
    
}
.botonModificar{
    background: #3d3d3d2e
}
.botonEliminar{
    background: #d11010ab
}
.botonImprimir{
    background: rgb(238 238 238);
}

/*---------------------------------------------*/

.info {
    cursor : pointer;
    /* width:25%;
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto; */
    transition: 1s ease;
}
/* .drop p {
    padding: 3px;
} */
  
.info::after {
    transition: 1s ease;
}

.icon_b {
    width: 16px;
    height: 16px;

}
.acciones{
    display: flex;
    justify-content: center;
    
}

.slide {
    width: 100%;
    margin: 20px 20px;
    height: auto;
    overflow: auto;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* .slide .tituloslide{
    color: var(--colorSecundario);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;    
} */

/* .slide .tituloslide p{
    color: black;
    font-size: 20px;
    font-weight: bold;
} */

.datoCliente{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5px;
}







.touch {position: absolute; opacity: 0; height: 0px;}    

.touch:checked + .slide {
    height: 250px;
    transition: 1s ease;
}

li a {text-decoration : none; color : #2d2f31;}

.ColorEstado{
    width: 25%;
    text-align: center;
    color: aliceblue;
    border-radius: 20px;
    width: 20vw;
    padding: 15px !important;
    text-transform: capitalize;
    
}

/*----------------- Pantalla Celular -----------------*/

@media (max-width:700px) {
    .Logo{
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .Links{
        flex-direction: column;
        justify-content: center;
    }

    .Links a {
        margin: 0px 10px;
    }    
}

@media (max-width:900px) {
    .ModuloRep, .DatosModulo{
        flex-direction: column;
    }
}

@media (max-height:600px) {
    .ContenedorModal{
        max-height: 350px;
    }
}
/*---------------------------------------------*/

h1{
    color: var(--colorBlanco);
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

